@model IEnumerable<PhotoShare.Models.PhotoVideo>

@{
    ViewBag.Title = "Index";
}

<h2>Zadnjih 5 objava</h2>
@if (Request.IsAuthenticated)
{
    <h4>
        @Html.ActionLink("Dodaj", "Create", "PhotoVideo")
    </h4>
}
<table class="table">
    <tr>
        <th style="text-align:center;vertical-align:middle;">
            Objave
        </th>
        <th></th>
        <th style="text-align:center;vertical-align:middle;">
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th style="text-align:center;vertical-align:middle;">
            @Html.DisplayNameFor(model => model.DatumObjave)
        </th>
        <th style="text-align:center;vertical-align:middle;">
            Tagovi
        </th>
        @if (Request.IsAuthenticated)
        {
            <th class="actions-col"></th>
        }
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5" style="text-align:center;vertical-align:middle;">
                Nema rezultata
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="tablerow">
                @if (item.isSlika)
                {
                    <td class="image-holder-list" style="vertical-align: middle;">
                        @if (!string.IsNullOrEmpty(item.Path))
                        {
                            <img src="@Url.Content(item.Path)" alt="No photo" class="image" />
                        }
                    </td>
                }
                else
                {
                    <td class="video-holder" style="vertical-align: middle;">
                        @if (!string.IsNullOrEmpty(item.Path))
                        {
                            <div class="video">
                                <video class="videostyle" loop preload="metadata">
                                    <source src="@Url.Content(item.Path)" type="@PhotoShare.Common.MimeTypes.GetMimeType(item.Path)">
                                </video>
                            </div>
                        }
                        else
                        {
                            <img src="~/Files/video-camera-icon.png" class="image" />
                        }
                    </td>
                }
                <td style="text-align:center;vertical-align:middle;">
                    @if (!item.isSlika)
                    {
                        if (!string.IsNullOrEmpty(item.Path))
                        {
                            <input type="button" value="Otvori" onclick="window.open('@Url.Content(item.Path)', '_blank')" />
                        }
                    }
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.DatumObjave)
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @Html.Partial("_PostTags", item)
                </td>
                @if (Request.IsAuthenticated)
                {
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.ActionLink("Uredi", "Edit", "PhotoVideo", new { id = item.ID }, null)
                        @Html.ActionLink("Detalji", "Details", "PhotoVideo", new { id = item.ID }, null)
                        @Html.ActionLink("Obriši", "Delete", "PhotoVideo", new { id = item.ID }, null)
                    </td>
                }
            </tr>
        }
    }

</table>

<script type="text/javascript" language="javascript">
    var figure = $(".video").hover(hoverVideo, hideVideo);

    function hoverVideo(e) {
        $('video', this).get(0).play();
    }

    function hideVideo(e) {
        $('video', this).get(0).pause();
    }
</script>
