@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PhotoShare.Models.PhotoVideo>

@{
    ViewBag.Title = "Slika";
}
@if (Request.IsAuthenticated)
{
    <h2>
        @Html.ActionLink("Dodaj", "Create", "PhotoVideo")
    </h2>
}
<br />
@using (Html.BeginForm("Slika", "Home", new { page = Request.QueryString["page"], search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"] }, FormMethod.Get))
{
    if (!string.IsNullOrEmpty(Request.QueryString["searchBy"]))
    {
        if (Request.QueryString["searchBy"] == "Tag")
        {
            <input type="radio" name="searchBy" value="Tag" checked="checked" />
        }
        else
        {
            <input type="radio" name="searchBy" value="Tag" />
        }
        <text>Tag</text>
        if (Request.QueryString["searchBy"] == "Naziv")
        {
            <input type="radio" name="searchBy" value="Naziv" checked="checked" />
        }
        else
        {
            <input type="radio" name="searchBy" value="Naziv" />
        }
        <text>Naziv</text>
    }
    else
    {
        <input type="radio" name="searchBy" value="Tag" checked="checked" />
        <text>Tag</text>
        <input type="radio" name="searchBy" value="Naziv" />
        <text>Naziv</text>
    }
    <br />
    <input type="text" name="search" />
    <input type="submit" value="Pretraži" />
    @Html.ActionLink("Obriši filter", "Slika", new { viewChange = ViewBag.view })
    if (ViewBag.view == "grid")
    {
        @Html.Hidden("view", (object)"grid")
        @Html.ActionLink("Change View", "Slika", new { viewChange = "grid", search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"] }, new { @class = "list-view" })
    }
    else
    {
        @Html.Hidden("view", (object)"list")
        @Html.ActionLink("Change View", "Slika", new { viewChange = "list", search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"] }, new { @class = "grid-view" })
    }
}
<br />


@if (ViewBag.view == "grid")
{
    if (Model.Count() == 0)
    {
        <div>
            Nema rezultata
        </div>
    }
    else
    {
        <div class="parent">

            @foreach (var item in Model)
            {
                <div class="child">
                    <div class="image-holder-grid">
                        <img src="@Url.Content(item.Path)" class="image" alt="No photo" />
                    </div>
                    <br />

                    <div class="text">
                        <b>
                            @Html.DisplayFor(modelItem => item.Naziv)
                            <br />
                            @Html.DisplayFor(modelItem => item.DatumObjave)
                            <br />
                            @Html.Partial("_PostTags", item)
                        </b>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div style="text-align: center; vertical-align: middle;">
                            @Html.ActionLink("Uredi", "Edit", "PhotoVideo", new { id = item.ID }, null) |
                            @Html.ActionLink("Detalji", "Details", "PhotoVideo", new { id = item.ID }, null) |
                            @Html.ActionLink("Obriši", "Delete", "PhotoVideo", new { id = item.ID }, null)
                        </div>
                    }
                </div>
            }
        </div>
    }

}
else
{
    if (Model.Count() == 0)
    {
        <div>Nema rezultata</div>
    }
    else
    {
        <table class="table">
            <tr>
                <th style="text-align: center; vertical-align: middle;">
                    Slika
                </th>
                <th style="text-align: center; vertical-align: middle;">
                    @Html.ActionLink("Naziv", "Slika", new { view = ViewBag.view, page = Request.QueryString["page"], search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"], sortBy = ViewBag.Naziv })
                </th>
                <th style="text-align: center; vertical-align: middle;">
                    @Html.ActionLink("Vrijeme objave", "Slika", new { view = ViewBag.view, page = Request.QueryString["page"], search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"], sortBy = ViewBag.Datum })
                </th>
                <th style="text-align: center; vertical-align: middle;">
                    Tagovi
                </th>
                @if (Request.IsAuthenticated)
                {
                    <th class="actions-col"></th>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="image-holder-list" style="vertical-align: middle;">
                        @if (!string.IsNullOrEmpty(item.Path))
                        {
                            <img src="@Url.Content(item.Path)" alt="No photo" class="image" />
                        }
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.DatumObjave)
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.Partial("_PostTags", item)
                    </td>
                    @if (Request.IsAuthenticated)
                    {
                        <td style="text-align: center; vertical-align: middle;">
                            @Html.ActionLink("Uredi", "Edit", "PhotoVideo", new { id = item.ID }, null)
                            @Html.ActionLink("Detalji", "Details", "PhotoVideo", new { id = item.ID }, null)
                            @Html.ActionLink("Obriši", "Delete", "PhotoVideo", new { id = item.ID }, null)
                        </td>
                    }
                </tr>
            }
        </table>
    }

}
<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("Slika", new { view = ViewBag.view, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], page, sortBy = Request.QueryString["sortBy"] }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
</div>