@model IEnumerable<PhotoShare.Models.PhotoVideo>

@{
    ViewBag.Title = "Video";
}
<h2>
    @Html.ActionLink("Dodaj", "Create", "PhotoVideo")
</h2>
<br />
@using (Html.BeginForm())
{
    <input type="radio" name="searchBy" value="Tag" checked="checked" />
    <text>Tag</text>
    <input type="radio" name="searchBy" value="Naziv" />
    <text>Naziv</text>
    <br />
    <input type="text" name="search" />
    <input type="submit" value="Search" />
    @Html.ActionLink("Clear filter", "Index")
}
<table class="table">
    <tr>
        <th style="text-align:center;vertical-align:middle;">

        </th>
        <th style="text-align:center;vertical-align:middle;"></th>
        <th style="text-align:center;vertical-align:middle;">
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th style="text-align:center;vertical-align:middle;">
            @Html.DisplayNameFor(model => model.DatumObjave)
        </th>
        <th style="text-align:center;vertical-align:middle;">
            Tags
        </th>
        <th style="text-align:center;vertical-align:middle;"></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                Nema rezultata
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr style="height:240px">
                <td style="text-align:center;vertical-align:middle;width:255px;height:240px">
                    @if (!string.IsNullOrEmpty(item.Path))
                    {
                        <div class="video">
                            <video width="250" height="230" loop preload="metadata">
                                <source src="@Url.Content(item.Path)" type="@PhotoShare.Common.MimeTypes.GetMimeType(System.IO.Path.GetExtension(item.Path))">
                            </video>
                        </div>
                    }
                    else
                    {
                        <img src="~/Files/video-camera-icon.png" width="250" height="235" />
                    }
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @if (!string.IsNullOrEmpty(item.Path))
                    {
                        <input type="button" value="Open" onclick="window.open('@Url.Content(item.Path)', '_blank')" />
                    }
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.DatumObjave)
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @Html.Partial("_PostTags", item)
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }

</table>

<script type="text/javascript" language="javascript">
    var figure = $(".video").hover(hoverVideo, hideVideo);

    function hoverVideo(e) {
        $('video', this).get(0).play();
    }

    function hideVideo(e) {
        $('video', this).get(0).pause();
    }
</script>
