@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PhotoShare.Models.PhotoVideo>

@{
    ViewBag.Title = "Video";
}
@if (Request.IsAuthenticated)
{
    <h2>
        @Html.ActionLink("Dodaj", "Create", "PhotoVideo")
    </h2>
}
<br />
@using (Html.BeginForm("Video", "Home", FormMethod.Get, new { view = ViewBag.View, page = Request.QueryString["page"], search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"] }))
{
    if (!string.IsNullOrEmpty(Request.QueryString["searchBy"]))
    {
        if (Request.QueryString["searchBy"] == "Tag")
        {
            <input type="radio" name="searchBy" value="Tag" checked="checked" />
        }
        else
        {
            <input type="radio" name="searchBy" value="Tag" />
        }
        <text>Tag</text>
        if (Request.QueryString["searchBy"] == "Naziv")
        {
            <input type="radio" name="searchBy" value="Naziv" checked="checked" />
        }
        else
        {
            <input type="radio" name="searchBy" value="Naziv" />
        }
        <text>Naziv</text>
    }
    else
    {
        <input type="radio" name="searchBy" value="Tag" checked="checked" />
        <text>Tag</text>
        <input type="radio" name="searchBy" value="Naziv" />
        <text>Naziv</text>
    }
    <br />
    <input type="text" name="search" />
    <input type="submit" value="Pretraži" />
    @Html.ActionLink("Obriši filter", "Video")
    if (Request.QueryString["view"] == "grid")
    {
        <input type="submit" name="view" value="list" class="list-view" />
    }
    else
    {
        <input type="submit" name="view" value="grid" class="grid-view" />
    }
}
<br />
@if (Request.QueryString["view"] == "grid")
{
    <div class="parent">
        @if (Model.Count() == 0)
        {
            <div class="child">
                Nema rezultata
            </div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="child">
                    <div class="video">
                        <div class="gridvideo">
                            <video class="videostyle" loop preload="metadata">
                                <source src="@Url.Content(item.Path)" type="@PhotoShare.Common.MimeTypes.GetMimeType(item.Path)">
                            </video>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(item.Path))
                    {
                        <input type="button" value="Otvori" onclick="window.open('@Url.Content(item.Path)', '_blank')" />
                    }
                    <br />

                    <div class="text">
                        <b>
                            @Html.DisplayFor(modelItem => item.Naziv)
                            <br />
                            @Html.DisplayFor(modelItem => item.DatumObjave)
                            <br />
                            @Html.Partial("_PostTags", item)
                        </b>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="actions">
                            @Html.ActionLink("Uredi", "Edit", "PhotoVideo", new { id = item.ID }, null) |
                            @Html.ActionLink("Detalji", "Details", "PhotoVideo", new { id = item.ID }, null) |
                            @Html.ActionLink("Obriši", "Delete", "PhotoVideo", new { id = item.ID }, null)
                        </div>
                    }
                </div>
            }
        }
    </div>
}
else
{
    <table class="table">
        <tr>
            <th style="text-align: center; vertical-align: middle;">
                Video
            </th>
            <th style="text-align: center; vertical-align: middle;"></th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.ActionLink("Naziv", "Video", new { view = Request.QueryString["view"], page = Request.QueryString["page"], search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"], sortBy = ViewBag.Naziv })
            </th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.ActionLink("Vrijeme objave", "Video", new { view = Request.QueryString["view"], page = Request.QueryString["page"], search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"], sortBy = ViewBag.Datum })
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Tagovi
            </th>
            @if (Request.IsAuthenticated)
            {
                <th class="actions-col"></th>
            }
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5" style="text-align: center; vertical-align: middle;">
                    Nema rezultata
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr class="tablerow">
                    <td class="video-holder" style="vertical-align: middle;">
                        <div class="video">
                            <video class="videostyle" loop preload="metadata">
                                <source src="@Url.Content(item.Path)" type="@PhotoShare.Common.MimeTypes.GetMimeType(item.Path)">
                            </video>
                        </div>
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @if (!string.IsNullOrEmpty(item.Path))
                        {
                            <input type="button" value="Otvori" onclick="window.open('@Url.Content(item.Path)', '_blank')" />
                        }
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.DatumObjave)
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.Partial("_PostTags", item)
                    </td>
                    @if (Request.IsAuthenticated)
                    {
                        <td style="text-align: center; vertical-align: middle;">
                            @Html.ActionLink("Uredi", "Edit", "PhotoVideo", new { id = item.ID }, null)
                            @Html.ActionLink("Detalji", "Details", "PhotoVideo", new { id = item.ID }, null)
                            @Html.ActionLink("Obriši", "Delete", "PhotoVideo", new { id = item.ID }, null)
                        </td>
                    }
                </tr>
            }
        }

    </table>
}
<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("Video", new { view = ViewBag.View, page, search = Request.QueryString["search"], searchBy = Request.QueryString["searchBy"] }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
</div>

<script type="text/javascript" language="javascript">
    var figure = $(".video").hover(hoverVideo, hideVideo);

    function hoverVideo(e) {
        $('video', this).get(0).play();
    }

    function hideVideo(e) {
        $('video', this).get(0).pause();
    }
</script>
